### Store CSV into DataFrame

In [2]:
import pandas as pd
from sqlalchemy import create_engine
# import numpy as np
# import requests
# import textwrap
# import time
# from scipy.stats import linregress

In [3]:
csv_file = "./Resources/Highest_Holywood_Grossing_Movies_1.csv"
film_data_df = pd.read_csv(csv_file)
film_data_df.head()

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,16-Dec-15,936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,24-Apr-19,858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,16-Dec-09,760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

### Create new data with select columns

In [4]:
film_data_df.rename(columns={'Unnamed: 0': 'ID', 'Domestic Sales (in $)': 'Domestic_Sales', 'International Sales (in $)': 'International_Sales', 'World Sales (in $)': 'Total_Sales' }, inplace=True)
# customer_data_df
new_customer_data_df = film_data_df[['ID', 'Title', 'Domestic_Sales', 'International_Sales', 'Total_Sales']].copy()
new_customer_data_df.head()

,ID,Title,Domestic_Sales,International_Sales,Total_Sales
0,0,Star Wars: Episode VII - The Force Awakens (2015),936662225,1132859475,2069521700
1,1,Avengers: Endgame (2019),858373000,1939128328,2797501328
2,2,Avatar (2009),760507625,2086738578,2847246203
3,3,Black Panther (2018),700426566,647171407,1347597973
4,4,Avengers: Infinity War (2018),678815482,1369544272,2048359754

### Store JSON data into a DataFrame

In [5]:
import requests
import json
from config import api_key
from pprint import pprint

In [17]:
 # Set the API base URL
url = "http://www.omdbapi.com/?apikey="+api_key


# Define an empty list
film_url_data = []

search_url=url+"&s=Batman"+"&page=1"


response=requests.get(search_url)

response_json=response.json()
pprint(response_json)

response_Batman=response.json()

{'Response': 'True',
 'Search': [{'Poster': 'https://m.media-amazon.com/images/M/MV5BOTY4YjI2N2MtYmFlMC00ZjcyLTg3YjEtMDQyM2ZjYzQ5YWFkXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg',
             'Title': 'Batman Begins',
             'Type': 'movie',
             'Year': '2005',
             'imdbID': 'tt0372784'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BYThjYzcyYzItNTVjNy00NDk0LTgwMWQtYjMwNmNlNWJhMzMyXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg',
             'Title': 'Batman v Superman: Dawn of Justice',
             'Type': 'movie',
             'Year': '2016',
             'imdbID': 'tt2975590'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BMDdmMTBiNTYtMDIzNi00NGVlLWIzMDYtZTk3MTQ3NGQxZGEwXkEyXkFqcGdeQXVyMzMwOTU5MDk@._V1_SX300.jpg',
             'Title': 'The Batman',
             'Type': 'movie',
             'Year': '2022',
             'imdbID': 'tt1877830'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BZDNjOGNhN2UtNmNhMC00YjU4LWEzMmUtNzRkM2RjN2RiMjc5XkEyXkFqcGdeQXVyMTU0OTM5ODc1._V1_SX300.jpg',
             'Title': 'Batman',
             'Type': 'movie',
             'Year': '1989',
             'imdbID': 'tt0096895'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BOGZmYzVkMmItM2NiOS00MDI3LWI4ZWQtMTg0YWZkODRkMmViXkEyXkFqcGdeQXVyODY0NzcxNw@@._V1_SX300.jpg',
             'Title': 'Batman Returns',
             'Type': 'movie',
             'Year': '1992',
             'imdbID': 'tt0103776'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BMGQ5YTM1NmMtYmIxYy00N2VmLWJhZTYtN2EwYTY3MWFhOTczXkEyXkFqcGdeQXVyNTA2NTI0MTY@._V1_SX300.jpg',
             'Title': 'Batman & Robin',
             'Type': 'movie',
             'Year': '1997',
             'imdbID': 'tt0118688'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BNDdjYmFiYWEtYzBhZS00YTZkLWFlODgtY2I5MDE0NzZmMDljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg',
             'Title': 'Batman Forever',
             'Type': 'movie',
             'Year': '1995',
             'imdbID': 'tt0112462'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BMTcyNTEyOTY0M15BMl5BanBnXkFtZTgwOTAyNzU3MDI@._V1_SX300.jpg',
             'Title': 'The Lego Batman Movie',
             'Type': 'movie',
             'Year': '2017',
             'imdbID': 'tt4116284'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BOTM3MTRkZjQtYjBkMy00YWE1LTkxOTQtNDQyNGY0YjYzNzAzXkEyXkFqcGdeQXVyOTgwMzk1MTA@._V1_SX300.jpg',
             'Title': 'Batman: The Animated Series',
             'Type': 'series',
             'Year': '1992–1995',
             'imdbID': 'tt0103359'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BN2I4OTllM2MtMWVhNC00MjkzLWJlMDUtN2FhMGQ2ZGVjMjllXkEyXkFqcGdeQXVyMTEyNzgwMDUw._V1_SX300.jpg',
             'Title': 'Batman v Superman: Dawn of Justice (Ultimate Edition)',
             'Type': 'movie',
             'Year': '2016',
             'imdbID': 'tt18689424'}],
 'totalResults': '523'}

In [19]:
search_url=url+"&s=Superman"+"&page=1"
response=requests.get(search_url)

response_json=response.json()
pprint(response_json)

{'Response': 'True',
 'Search': [{'Poster': 'https://m.media-amazon.com/images/M/MV5BYThjYzcyYzItNTVjNy00NDk0LTgwMWQtYjMwNmNlNWJhMzMyXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg',
             'Title': 'Batman v Superman: Dawn of Justice',
             'Type': 'movie',
             'Year': '2016',
             'imdbID': 'tt2975590'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BNzY2ZDQ2MTctYzlhOC00MWJhLTgxMmItMDgzNDQwMDdhOWI2XkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg',
             'Title': 'Superman Returns',
             'Type': 'movie',
             'Year': '2006',
             'imdbID': 'tt0348150'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BMzA0YWMwMTUtMTVhNC00NjRkLWE2ZTgtOWEzNjJhYzNiMTlkXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg',
             'Title': 'Superman',
             'Type': 'movie',
             'Year': '1978',
             'imdbID': 'tt0078346'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BODk2NjgzNTEtYzZhZC00ZTBkLTllMGQtMmMxMzU1NDRkM2RlXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg',
             'Title': 'Superman II',
             'Type': 'movie',
             'Year': '1980',
             'imdbID': 'tt0081573'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BMzI3ZDllMTctNmI2Mi00OGQ4LTk2ZTQtYTJhMjA5ZGI2YmRkXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_SX300.jpg',
             'Title': 'Superman III',
             'Type': 'movie',
             'Year': '1983',
             'imdbID': 'tt0086393'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BN2I4OTllM2MtMWVhNC00MjkzLWJlMDUtN2FhMGQ2ZGVjMjllXkEyXkFqcGdeQXVyMTEyNzgwMDUw._V1_SX300.jpg',
             'Title': 'Batman v Superman: Dawn of Justice (Ultimate Edition)',
             'Type': 'movie',
             'Year': '2016',
             'imdbID': 'tt18689424'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BMmIwZWY1YTYtNDlhOS00NDRmLWI4MzItNjk2NDc1N2NhYzNlXkEyXkFqcGdeQXVyNTUyMzE4Mzg@._V1_SX300.jpg',
             'Title': 'Superman IV: The Quest for Peace',
             'Type': 'movie',
             'Year': '1987',
             'imdbID': 'tt0094074'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BOGYyMmViMjgtZjViZi00NjkzLThjZGItMzZhYmZmOWZlMzdhXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg',
             'Title': 'Superman & Lois',
             'Type': 'series',
             'Year': '2021–',
             'imdbID': 'tt11192306'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BMjk3ODhmNjgtZjllOC00ZWZjLTkwYzQtNzc1Y2ZhMjY2ODE0XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
             'Title': 'Superman/Batman: Apocalypse',
             'Type': 'movie',
             'Year': '2010',
             'imdbID': 'tt1673430'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BZTU1ZGFjNzEtZWYzZC00ZmI0LTg2NmMtN2YyNTY4YzhlODIyXkEyXkFqcGdeQXVyMjExMjk0ODk@._V1_SX300.jpg',
             'Title': 'Lois & Clark: The New Adventures of Superman',
             'Type': 'series',
             'Year': '1993–1997',
             'imdbID': 'tt0106057'}],
 'totalResults': '292'}

In [7]:
json_file = "../Resources/customer_location.json"
customer_location_df = pd.read_json(json_file)
customer_location_df.head()

ValueError: Expected object or value

### Clean DataFrame

In [ ]:
new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
new_customer_location_df.head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York

### Connect to local database

In [ ]:
protocol = 'postgresql'
username = '<pgadmin4@pgadmin.org>'
password = '<postgress>'
host = 'localhost'
port = 5432
database_name = 'film_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

### Check for tables

In [ ]:
engine.table_names()

['customer_location', 'customer_name']

### Use pandas to load csv converted DataFrame into database

In [ ]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [ ]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from customer_name', con=engine).head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from customer_location', con=engine).head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York